<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/Basic/HeadTags.ejs') -%>
    <title>Signup Page</title>
</head>

<style>
    html, body {
        height: 100%;
        width: 100%;
    }
     html body .f-bgImage {
         height: 100%;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
     }
    .singup {
         border-radius: 15px;
     }
     
 </style>

<body>
    

   <!-- Start Navbar Area -->
    <div class=" f-bgImage container-fluid py-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto">
                    <div class="singup p-3 bg-white shadow-lg text-muted">
                        <%- include('../partials/Basic/flashMessages.ejs') -%>
                        <%- include('../partials/Basic/errors.ejs') -%>
                        <div class="backHome" id="backHome">
                            <a href="/"><h4><i class="fas fa-arrow-left"></i> Back Home</h4></a>
                        </div>
                        <h2>Create new account <i class="far fa-user"></i></h2>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>