@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");


body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  overflow-x: hidden;
}

.carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(12, 12, 12, 0.7);
  z-index: 10
}
.carousel-indicators .active {
  background-color: rgba(77, 88, 248, 0.8);
}
.carousel-indicators {
  bottom: 25px;
}
.carousel-indicators > li {
  height: auto;
  width: 65px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 0;
  border: none;
  padding: 5px;
  text-indent: 0;
  margin-right: 5px;
  margin-left: 5px;
}
.carousel-caption {
  bottom: 125px;
  padding: 0;
}
.carousel-control-next, .carousel-control-prev, .carousel-caption {
  z-index: 15;
}
.carousel-caption > p{
  margin-bottom: 0;
}
@media(min-width: 1200px)  {
  .carousel-indicators {
       bottom: 500px;
  }
  .carousel-caption {
      bottom: 250px;
  }
}
@media(min-width: 576px) and (max-width: 767px) {
   .carousel-indicators {
        bottom: 10px;
        
    }
    .carousel-caption {
        bottom: 110px;
    }
  .carousel-caption > h5 {
      font-size: 15px;
  }
  .carousel-caption > p{
      font-size: 14px;
  }
  .carousel-indicators > li {
      width: 50px;
  }
  .carousel-indicators li .indicatorContent .forIcon {
      font-size: 20px !important;
  }
}
@media(max-width: 575px)  {
   .carousel-indicators {
        bottom: 0px;
        
    }
    .carousel-caption {
        bottom: 85px;
    }
  .carousel-caption > h5 {
      font-size: 13px;
  }
  .carousel-caption > p{
      font-size: 12px;
  }
  .carousel-indicators > li {
      width: 45px;
  }
  .carousel-indicators li .indicatorContent .forIcon {
      font-size: 15px !important;
  }
}



/*================================================
Start Intro Partner Area 
=================================================*/
.heading-area .sub-title{
  font-size: 18px;
  font-weight: 400;
}

.heading-area .title{
  font-size: 40px;
  font-weight: 600;
  margin: 15px 0 25px;
}
.tatx-intro {
  background-color: rgb(245, 245, 245)
}

a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

ul {
  margin-bottom: 0;
}

a:hover, a:focus {
  color: #086AD8;
  text-decoration: none;
}

button {
  outline: 0 !important;
}

p {
  margin-bottom: 15px;
  line-height: 1.8;
  color: #666666;
  font-weight: 400;
  font-size: 15px;
}

p:last-child {
  margin-bottom: 0;
}

i {
  line-height: normal;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Catamaran", sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.h1:last-child, .h2:last-child, .h3:last-child, .h4:last-child, .h5:last-child, .h6:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-bottom: 0;
}


.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: 50px;
}

.section-title span {
  color: rgb(255, 40, 50);
}


.section-title .bar {
  height: 4px;
  width: 85px;
  background: rgb(255, 101, 101);
  margin: 20px auto 0;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.section-title .bar::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: #ffffff;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
          animation-name: MOVE-BG;
}

@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(85px);
  }
}

@keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(85px);
            transform: translateX(85px);
  }
}


#headerContent {
  padding: 8px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

#headerContent .nav-link {
  color: #FFF;
}
#headerContent .dropdown-menu .dropdown-item {
  color: #555 !important;
}

.o_shadow {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}
/*@ Header @*/

.default-shape .shape-1 {
  position: absolute;
  right: 10%;
  top: 16%;
  z-index: -1;
  -webkit-animation: animationFramesOne 20s infinite linear;
          animation: animationFramesOne 20s infinite linear;
}

.default-shape .shape-2 {
  position: absolute;
  left: 10%;
  top: 16%;
  z-index: -1;
}

.default-shape .shape-2 img {
  -webkit-animation-name: rotateMe;
          animation-name: rotateMe;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.default-shape .shape-3 {
  position: absolute;
  left: 5%;
  bottom: 25%;
  z-index: -1;
  -webkit-animation: animationFramesOne 20s infinite linear;
          animation: animationFramesOne 20s infinite linear;
}

.default-shape .shape-4 {
  position: absolute;
  right: 10%;
  bottom: 25%;
  z-index: -1;
  -webkit-animation: animationFramesOne 20s infinite linear;
          animation: animationFramesOne 20s infinite linear;
}

.default-shape .shape-5 {
  position: absolute;
  left: 50%;
  top: 10%;
  z-index: -1;
  -webkit-animation: animationFramesOne 20s infinite linear;
          animation: animationFramesOne 20s infinite linear;
}


/*================================================
Navbar Area CSS
=================================================*/

.navbar-light .navbar-nav:last-child .nav-item {
  border: 1px solid rgba(105, 105, 105, 0.9);
}


.navbar-light .navbar-nav .nav-item {
  border-radius: 30px;
  transition: 0.5s ease-inav-itemn-out;
}

@media only screen and (max-width: 991px) {
  .navbar-light .navbar-nav .nav-item {
    border: 1px solid #FFF;
  }
}


.navbar-light .navbar-nav .nav-link {
  font-size: 18px;
}


.dropdown-toggle::after {
  display: none
}
.dropdown-menu {
  border: none;
  border-radius: 6px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.dropdown-menu .dropdown-item {
  padding: 0;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #ffe4eb
}
.dropdown-menu .dropdown-item .fa-facebook-f {
  color: #3b5999
}
.dropdown-menu .dropdown-item .fa-twitter {
  color: #55acee
}
.dropdown-menu .dropdown-item .fa-youtube {
  color: #cd201f
}

.nav-item form button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.dropdown-toggle::after {
    display: none
  }
.dropdown-menu::before {
  content: '';
  position: absolute;
  display: block;
  height: 0;
  width: 0;
  top: -8px;
  left: 25px;
  border-style: solid;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #FFF;
  border-top: 0;
}

.carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10
}
.carousel-indicators > li {
  height: auto;
  width: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 0;
  border: none;
  padding: 5px;
  text-indent: 0;
  margin-right: 5px;
  margin-left: 5px;
}
.carousel-caption {
  padding: 0;
}
.carousel-control-next, .carousel-control-prev, .carousel-caption {
  z-index: 15;
}
.carousel-caption > p{
  margin-bottom: 0;
}
@media only screen and (max-width: 991px) {
  #headerContent {
    background-color: #FFF !important;
  }
  #headerContent .nav-link {
    color: #555 !important;
  }
}
@media(min-width: 992px)  {
  .carousel-indicators {
       bottom: 35%;
  }
  .carousel-caption {
      bottom: 50%;
  }
}
@media(min-width: 576px) and (max-width: 991px) {
   .carousel-indicators {
        bottom: 10px;
        
    }
    .carousel-caption {
        bottom: 110px;
    }
  .carousel-caption > h5 {
      font-size: 15px;
  }
  .carousel-caption > p{
      font-size: 14px;
  }
  .carousel-indicators li .indicatorContent .forIcon {
      font-size: 20px !important;
  }
}
@media(max-width: 575px)  {
   .carousel-indicators {
        bottom: 0px;
    }
    .carousel-caption {
        bottom: 85px;
    }
  .carousel-caption > h5 {
      font-size: 13px;
  }
  .carousel-caption > p{
      font-size: 12px;
  }
  .carousel-indicators li .indicatorContent .forIcon {
      font-size: 15px !important;
  }
}


/*================================================
Features Area CSS
=================================================*/

.features-content {
  background-color: #fff3f3;
  border-radius: 6px;
  padding: 1rem;
}

.features-content .icon i {
  display: inline-block;
  height: 70px;
  width: 70px;
  line-height: 70px;
  background-color: #ffd9d9;
  color: #ff7171;
  text-align: center;
  border-radius: 50px;
  font-size: 35px;
}

.features-content .icon.left-icon i {
  padding-left: 5px;
}

.features-content h3 {
  font-size: 25px;
  margin: 16px 0 8px 0;
}

/*================================================
Creative Area CSS
=================================================*/
.creative-content h3 {
  font-size: 40px;
  margin-bottom: 16px;
  position: relative;
}

.creative-content h3::before {
  content: "";
  position: absolute;
}

.creative-content span {
  color: #086AD8;
}

.creative-content .bar {
  height: 4px;
  width: 85px;
  background: #086AD8;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 16px;
}

.creative-content .bar::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: #ffffff;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
          animation-name: MOVE-BG;
}



.creative-image {
  background-image: url(../../assets/img/about/about.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
}

.creative-image img {
  display: none;
}

.about-content {
  background: lightblue url("/assets/images/System/Outside/About/triangle-mosaic.png") no-repeat fixed center;
}

.creative-video {
  text-align: center;
  position: absolute;
  left: 0px;
  right: 0;
  bottom: 210px;
  margin: auto;
}

.creative-video .video-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #086AD8;
  position: relative;
  z-index: 1;
}

.creative-video .video-btn i {
  font-size: 35px;
  position: relative;
  top: 5px;
  left: 4px;
}

.creative-video .video-btn::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 1px solid #ffffff;
  -webkit-animation: ripple 2s linear 1s infinite;
          animation: ripple 2s linear 1s infinite;
}

.creative-video .video-btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 1px solid #ffffff;
  -webkit-animation: ripple 2s linear infinite;
          animation: ripple 2s linear infinite;
}

.creative-video .video-btn:hover, .creative-video .video-btn .video-content .video-btn:focus {
  background-color: #086AD8;
  color: #ffffff;
}


/*================================================
Services Area CSS
=================================================*/
.services-section {
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.services-section.bg-color {
  background-color: #f0f4f8;
}

.services-section.bg-background {
  background-image: url(../../assets/img/services-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.services-shape {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -5;
}

.single-services {
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  z-index: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
}

.single-services .icon {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services .icon i {
  display: inline-block;
  height: 70px;
  width: 90px;
  line-height: 70px;
  background-color: #ffd9d9;
  text-align: center;
  font-size: 30px;
  color: #ff7171;
  border-radius: 30px 5px 30px 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services .icon.bg-deb0fe i {
  background-color: #f87474;
  color: rgb(255, 101, 101);
  border-radius: 50px;
  height: 70px;
  width: 70px;
  line-height: 70px;
}

.single-services .icon.bg-79e8e2 i {
  background-color: #ffd2d2;
  color: rgb(255, 101, 101);
  border-radius: 50px;
  height: 70px;
  width: 70px;
  line-height: 70px;
}

.single-services .icon.bg-fcc774 i {
  background-color: #fcc774;
  color: #ffffff;
  border-radius: 50px;
  height: 70px;
  width: 70px;
  line-height: 70px;
}

.single-services .icon.bg-84b7fd i {
  background-color: #84b7fd;
  color: #ffffff;
  border-radius: 50px;
  height: 70px;
  width: 70px;
  line-height: 70px;
}

.single-services .icon.bg-fe929f i {
  background-color: #fe929f;
  color: #ffffff;
  border-radius: 50px;
  height: 70px;
  width: 70px;
  line-height: 70px;
}

.single-services .icon.bg-2e1342 i {
  background-color: #2e1342;
  color: #ffffff;
  border-radius: 50px;
  height: 70px;
  width: 70px;
  line-height: 70px;
}

.single-services h3 {
  font-size: 24px;
  margin: 20px 0 10px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services p {
  margin-bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services .read-btn {
  display: inline-block;
  margin-top: 12px;
  font-weight: 600;
  font-size: 15px;
}

.single-services::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 0%;
  background: #ff7878;
  border-radius: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}

.single-services:hover {
  -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
}

.single-services:hover::before {
  height: 100%;
}

.single-services:hover h3 {
  color: #ffffff;
}

.single-services:hover p {
  color: #ffffff;
}

.single-services:hover .read-btn {
  color: #ffffff;
}

.single-services-two {
  text-align: center;
  margin-bottom: 30px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px dashed #c77efb;
}

.single-services-two .icon i {
  color: #c77efb;
  font-size: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services-two h3 {
  font-size: 25px;
  margin: 10px 0 10px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services-two p {
  margin-bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services-two .read-btn {
  display: inline-block;
  margin-top: 12px;
  font-weight: 600;
  font-size: 15px;
}

.single-services-two::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 0%;
  background: #c77efb;
  border-radius: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}

.single-services-two:hover {
  -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
}

.single-services-two:hover::before {
  height: 100%;
}

.single-services-two:hover h3 {
  color: #ffffff;
}

.single-services-two:hover p {
  color: #ffffff;
}

.single-services-two:hover .read-btn {
  color: #ffffff;
}

.single-services-two:hover .icon i {
  color: #ffffff;
}

.single-services-two.bg-fc9ba7 {
  border: 1px dashed #fc9ba7;
}

.single-services-two.bg-fc9ba7 .icon i {
  color: #fc9ba7;
}

.single-services-two.bg-fc9ba7::before {
  background: #fc9ba7;
}

.single-services-two.bg-fc9ba7:hover {
  -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
}

.single-services-two.bg-fc9ba7:hover::before {
  height: 100%;
}

.single-services-two.bg-fc9ba7:hover .icon i {
  color: #ffffff;
}

.single-services-two.bg-2cdcf7 {
  border: 1px dashed #2cdcf7;
}

.single-services-two.bg-2cdcf7 .icon i {
  color: #2cdcf7;
}

.single-services-two.bg-2cdcf7::before {
  background: #2cdcf7;
}

.single-services-two.bg-2cdcf7:hover {
  -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
}

.single-services-two.bg-2cdcf7:hover::before {
  height: 100%;
}

.single-services-two.bg-2cdcf7:hover .icon i {
  color: #ffffff;
}

.single-services-two.bg-009af0 {
  border: 1px dashed #009af0;
}

.single-services-two.bg-009af0 .icon i {
  color: #009af0;
}

.single-services-two.bg-009af0::before {
  background: #009af0;
}

.single-services-two.bg-009af0:hover {
  -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
}

.single-services-two.bg-009af0:hover::before {
  height: 100%;
}

.single-services-two.bg-009af0:hover .icon i {
  color: #ffffff;
}

.single-services-two.bg-f4d62c {
  border: 1px dashed #f4d62c;
}

.single-services-two.bg-f4d62c .icon i {
  color: #f4d62c;
}

.single-services-two.bg-f4d62c::before {
  background: #f4d62c;
}

.single-services-two.bg-f4d62c:hover {
  -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
}

.single-services-two.bg-f4d62c:hover::before {
  height: 100%;
}

.single-services-two.bg-f4d62c:hover .icon i {
  color: #ffffff;
}

.single-services-two.bg-1e2d75 {
  border: 1px dashed #1e2d75;
}

.single-services-two.bg-1e2d75 .icon i {
  color: #1e2d75;
}

.single-services-two.bg-1e2d75::before {
  background: #1e2d75;
}

.single-services-two.bg-1e2d75:hover {
  -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
}

.single-services-two.bg-1e2d75:hover::before {
  height: 100%;
}

.single-services-two.bg-1e2d75:hover .icon i {
  color: #ffffff;
}





/*================================================
About Area CSS
=================================================*/
.tab .tabs_item {
  display: none;
}

.tab .tabs_item:first-child {
  display: block;
}


.about-tab h2 {
  font-size: 38px;
  margin: 0 0 15px 0;
}

.about-tab .bar {
  height: 4px;
  width: 85px;
  background: rgb(255, 101, 101);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 16px;
}

.about-tab .bar::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: #ffffff;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
          animation-name: MOVE-BG;
}

.about-tab .about-list-tab .tabs {
  border-bottom: 1px solid #eeeeee;
  padding-left: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

.about-tab .about-list-tab .tabs li {
  padding: 0;
  margin-right: 30px;
  padding-bottom: 10px;
  display: inline-block;
}

.about-tab .about-list-tab .tabs li.current {
  border-bottom: 2px solid rgb(216, 8, 60);
}

.about-tab .about-list-tab .tabs li.current a {
  color: rgb(216, 8, 60);
}

.about-tab .about-list-tab .tabs li a {
  position: relative;
}

.about-tab .about-list-tab .tab_content .tabs_item .text h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.about-tab .about-list-tab .tab_content .tabs_item .list {
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-tab .about-list-tab .tab_content .tabs_item .list li {
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.about-tab .about-list-tab .tab_content .tabs_item .list li:last-child {
  margin-bottom: 0;
}

.about-tab .about-list-tab .tab_content .tabs_item .list i {
  color: rgb(216, 8, 60);
  margin-right: 5px;
}

.about-tab .about-list-tab .tab_content .tabs_item p {
  margin-bottom: 0;
}

.about-tab .about-list-tab .tab_content .tabs_item .default-btn {
  margin-top: 30px;
}

.about-image {
  background-image: url("/assets/Images/photo-1518081461904-9d8f136351c2.jpg");
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.about-image img {
  display: none;
}




/*================================================
FAQ Area CSS
=================================================*/
.faq-accordion .accordion {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.faq-accordion .accordion .accordion-item {
  border-radius: 5px;
  display: block;
  margin-bottom: 15px;
  background-color: #f7f5fd;
  padding: 25px;
}

.faq-accordion .accordion .accordion-item:last-child {
  margin-bottom: 0;
}

.faq-accordion .accordion .accordion-title {
  padding: 0 60px 0 0;
  color: #212121;
  text-decoration: none;
  position: relative;
  display: block;
  font-family: "Catamaran", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.faq-accordion .accordion .accordion-title i {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.faq-accordion .accordion .accordion-title.active {
  color: #212121;
}

.faq-accordion .accordion .accordion-title.active i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq-accordion .accordion .accordion-content {
  display: none;
  position: relative;
  margin-top: 10px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.faq-accordion .accordion .accordion-content.show {
  display: block;
}

.faq-accordion .accordion .accordion-content ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.faq-accordion .accordion .accordion-content ul li {
  color: #10dce8;
  position: relative;
  margin-bottom: 12px;
  line-height: 25px;
  padding-left: 15px;
}

.faq-accordion .accordion .accordion-content ul li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 6px;
  height: 6px;
  background: #086AD8;
  border-radius: 50%;
}

.faq-accordion .accordion .accordion-content ul li:last-child {
  margin-bottom: 0;
}


/*================================================
Page Title Area CSS
=================================================*/



.page-title-area.item-bg-1 {
  background-image: url('/assets/Images/sample-terms-and-conditions-template-update.webp');
}

.page-title-area.item-bg-2 {
  background-image: url(../../assets/img/page-title/bg-2.jpg);
}

.page-title-area.item-bg-4 {
  background-image: url(../../assets/img/page-title/bg-4.jpg);
}

.page-title-area.item-bg-5 {
  background-image: url(../../assets/img/page-title/bg-5.jpg);
}

.page-title-area::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .77;
}

.page-title-content {
  text-align: center;
  margin-top: 0;
}

.page-title-content h2 {
  margin-bottom: 0;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
}

.page-title-content ul {
  padding-left: 0;
  list-style-type: none;
  margin-top: 12px;
  margin-bottom: 0;
}

.page-title-content ul li {
  color: #ffffff;
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
}

.page-title-content ul li a {
  display: inline-block;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-title-content ul li a:hover {
  color: #086AD8;
}

.page-title-content ul li::before {
  content: '';
  position: absolute;
  right: -15px;
  top: 11px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #086AD8;
}


.services-details-video .details-video .video-btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 1px solid #ffffff;
  -webkit-animation: ripple 2s linear infinite;
          animation: ripple 2s linear infinite;
}

.services-details-video .details-video .video-btn:hover, .services-details-video .details-video .video-btn .video-content .video-btn:focus {
  background-color: #086AD8;
  color: #ffffff;
}

.services-details-video .text {
  margin-top: 10px;
}

.services-details-video .text h3 {
  font-size: 30px;
  margin: 25px 0 10px 0;
}


/*================================================
Fooetr Area CSS
=================================================*/
.footer-section {
  background-image: url('/assets/images/System/Outside/About/triangle-mosaic.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.subscribe-area .subscribe-content h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.subscribe-area .newsletter-form {
  max-width: 580px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.subscribe-area .newsletter-form .input-newsletter {
  display: block;
  width: 100%;
  background-color: #ffffff;
  border: none;
  height: 70px;
  padding-left: 25px;
  border-radius: 10px;
  outline: 0;
  color: #212121;
}

.subscribe-area .newsletter-form .input-newsletter::-webkit-input-placeholder {
  color: #666666;
}

.subscribe-area .newsletter-form .input-newsletter:-ms-input-placeholder {
  color: #666666;
}

.subscribe-area .newsletter-form .input-newsletter::-ms-input-placeholder {
  color: #666666;
}

.subscribe-area .newsletter-form .input-newsletter::placeholder {
  color: #666666;
}

.subscribe-area .newsletter-form button {
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: rgb(216, 8, 8);
  color: #ffffff;
  border: none;
  height: 62px;
  padding: 0 30px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 50px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

.subscribe-area .newsletter-form button:hover {
  background-color: #212121;
  color: #ffffff;
}

.subscribe-area .newsletter-form #validator-newsletter {
  color: red;
  position: relative;
  top: 8px;
  font-size: 16px;
  font-weight: 500;
}

.single-footer-widget {
  margin-bottom: 30px;
}

.single-footer-widget .footer-heading {
  margin-bottom: 20px;
}

.single-footer-widget .footer-heading h3 {
  font-size: 20px;
}

.single-footer-widget .footer-social {
  padding-left: 0;
  margin-bottom: 0;
}

.single-footer-widget .footer-social li {
  display: inline-block;
  margin-right: 10px;
  list-style-type: none;
}

.single-footer-widget .footer-social li:last-child {
  margin-right: 0;
}

.single-footer-widget .footer-social i {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: #ff5050;
  color: #ffffff;
  text-align: center;
  border-radius: 30px;
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-footer-widget .footer-social i:hover {
  background-color: #ff2929;
}

.single-footer-widget .footer-quick-links {
  padding-left: 0;
  margin-bottom: 0;
}

.single-footer-widget .footer-quick-links li {
  list-style-type: none;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 600;
}

.single-footer-widget .footer-quick-links li:last-child {
  margin-bottom: 0;
}

.single-footer-widget .footer-info-contact {
  position: relative;
  padding-left: 40px;
  margin-bottom: 16px;
}

.single-footer-widget .footer-info-contact:last-child {
  margin-bottom: 0;
}

.single-footer-widget .footer-info-contact i {
  position: absolute;
  left: 0;
  font-size: 25px;
}

.single-footer-widget .footer-info-contact h3 {
  margin-bottom: 5px;
  font-size: 20px;
}

.single-footer-widget .footer-info-contact span {
  font-size: 15px;
}

/*================================================
Copy Right Area CSS
=================================================*/
.copyright-area {
  padding-top: 30px;
  padding-bottom: 30px;
}

.copyright-area .copyright-area-content p {
  font-size: 14px;
}

.copyright-area .copyright-area-content p a {
  display: inline-block;
  font-weight: 600;
}

.copyright-area .copyright-area-content p a:hover {
  color: rgb(216, 8, 36);
}

.copyright-area .copyright-area-content ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
  text-align: right;
}

.copyright-area .copyright-area-content ul li {
  display: inline-block;
  font-size: 14px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.copyright-area .copyright-area-content ul li a {
  display: inline-block;
}

.copyright-area .copyright-area-content ul li a:hover {
  color: rgb(241, 0, 72);
}

.copyright-area .copyright-area-content ul li::before {
  content: '';
  position: absolute;
  top: 5px;
  right: -13px;
  width: 1px;
  height: 14px;
  background-color: rgb(243, 0, 32);
}

.copyright-area .copyright-area-content ul li:last-child {
  margin-right: 0;
}

.copyright-area .copyright-area-content ul li:last-child::before {
  display: none;
}

.copyright-area .copyright-area-content ul li:first-child {
  margin-left: 0;
}

/*================================================
Go Top CSS
=================================================*/
.go-top {
  position: fixed;
  cursor: pointer;
  top: 0;
  right: 30px;
  color: #ffffff;
  background-color: rgb(255, 87, 87);
  z-index: 999;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .9s;
  transition: .9s;
  border-radius: 50%;
  border: 1px solid rgb(255, 53, 53);
}

.pageTatx .nav-link {
  color: #FFF !important;
}



.go-top.active {
  top: 98%;
  -webkit-transform: translateY(-98%);
          transform: translateY(-98%);
  opacity: 1;
  visibility: visible;
}

.go-top i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 30px;
}

.go-top i:last-child {
  top: 50%;
}

.go-top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #ff2323;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
}

.go-top:hover, .go-top:focus {
  color: #ffffff;
}

.go-top:hover::before, .go-top:focus::before {
  opacity: 1;
  visibility: visible;
}

.go-top:hover i:first-child, .go-top:focus i:first-child {
  opacity: 0;
  top: 0;
  visibility: hidden;
}

.go-top:hover i:last-child, .go-top:focus i:last-child {
  opacity: 1;
  visibility: visible;
  top: 50%;
}
/*# sourceMappingURL=style.css.map */


.cancelNotificationSuccess, .cancelNotificationError  {
  background-color: rgba(0, 0, 0, 0.5); position: absolute; top: 5px; right: 5px; height: 25px; width: 25px; ; text-align: center; line-height: 25px; border-radius: 50%; cursor: pointer;
}
.notificationSuccess, .notificationError  {
  position: absolute; bottom: 25px; left: 25px; bottom: 25px; border-radius: 15px; position: fixed; width: 275px; z-index: 5000; background-color: rgb(137, 255, 137); display: none;
}


.notificationSuccess {
  background-color: rgb(65, 206, 97);
}
.notificationError {
  background-color: #f17878;
}
/* ===================================
   Counters
====================================== */

.counter-list{
  margin: 0;
  padding-top: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.counter-item{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.counter-item i{
  font-size: 36px;
}

.counter-item .counter-number{
  font-size: 32px;
  margin: 5px 0;
}

.counter-item .sub-title{
  font-weight: 400;
  line-height: 1.2;
}
