<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Publish Course now</h4>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Make Course now</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="coursename">Course name</label>
                                <select id="coursename" name="coursename" class="custom-select">
                                    <% if(user.specialized === "Programming") { %>
                                        <optgroup label="Programming Languages">
                                            <option value="JavaScript">JavaScript</option>
                                            <option value="Java">Java</option>
                                            <option value="Python">Python</option>
                                            <option value="React">React</option>
                                            <option value="C++">C++</option>
                                        </optgroup>
                                    <% } else if(user.specialized === "Graphic Design") { %>
                                        <optgroup label="Graphic Design">
                                            <option value="Photoshop">Photoshop</option>
                                            <option value="Adobe Illustrator">Adobe Illustrator</option>
                                            <option value="Drawing">Drawing</option>
                                            <option value="Digital Painting">Digital Painting</option>
                                            <option value="InDesign">InDesign</option>
                                        </optgroup>
                                    <% } else if(user.specialized === "Digital Marketing") { %>
                                        <optgroup label="Digital Marketing">
                                            <option value="Marketing Strategy">Marketing Strategy</option>
                                            <option value="Facebook Marketing">Facebook Marketing</option>
                                            <option value="Google Analytics">Google Analytics</option>
                                            <option value="Email Marketing">Email Marketing</option>
                                            <option value="Business Strategy">Business Strategy</option>
                                        </optgroup>
                                    <% }  else if(user.specialized === "IT Certification") { %>
                                        <optgroup label="IT Certification">
                                            <option value="Cisco CCNA">Cisco CCNA</option>
                                            <option value="CompTIA A+">CompTIA A+</option>
                                            <option value="AWS Certified Cloud Practitioner">AWS Certified
                                                Cloud Practitioner</option>
                                            <option value="CompTIA Security+">CompTIA Security+</option>
                                            <option value="CompTIA Network+">CompTIA Network+</option>
                                        </optgroup>
                                    <% } else if(user.specialized === "Data and Analytics") { %>
                                        <optgroup label="Data and Analytics">
                                            <option value="SQL">SQL</option>
                                            <option value="MySQL">MySQL</option>
                                            <option value="Data Modeling">Data Modeling</option>
                                            <option value="Data Analysis">Data Analysis</option>
                                            <option value="Big Data">Big Data</option>
                                        </optgroup>
                                    <% } else if(user.specialized === "Hardware") { %>
                                        <optgroup label="Hardware">
                                            <option value="PLC">PLC</option>
                                            <option value="Electronics">Electronics</option>
                                            <option value="Arduino">Arduino</option>
                                            <option value="Cell Phone Repair">Cell Phone Repair</option>
                                            <option value="Microcontroller">Microcontroller</option>
                                        </optgroup>
                                    <% } else if(user.specialized === "Software") { %>
                                        <optgroup label="Software">
                                            <option value="PLC">PLC</option>
                                            <option value="Electronics">Electronics</option>
                                            <option value="Arduino">Arduino</option>
                                            <option value="Cell Phone Repair">Cell Phone Repair</option>
                                            <option value="Microcontroller">Microcontroller</option>
                                        </optgroup>
                                    <% } else if(user.specialized === "Front-end web") { %>
                                        <optgroup label="Front-end web">
                                            <option value="HTML and CSS">HTML and CSS</option>
                                            <option value="JavaScript and jQuery">JavaScript and jQuery
                                            </option>
                                            <option value="Bootstrap4">Bootstrap4</option>
                                            <option value="Pug and SASS">Pug and SASS</option>
                                            <option value="VueJS">VueJS</option>
                                        </optgroup>
                                    <% } else if(user.specialized === "Back-end web") { %>
                                        <optgroup label="Back-end web">
                                            <option value="PHP and Laravel">PHP and Laravel</option>
                                            <option value="NodeJS and ExpressJS">NodeJS and ExpressJS
                                            </option>
                                            <option value="Python and DJango">Python and DJango</option>
                                            <option value="ASP.Net backend">ASP.Net backend</option>
                                            <option value="C# backend">C# backend</option>
                                        </optgroup>
                                    <% } else if(user.specialized === "Business") { %>
                                        <optgroup label="Business">
                                            <option value="Finance">Finance</option>
                                            <option value="Entrepreneurship">Entrepreneurship</option>
                                            <option value="Communications">Communications</option>
                                            <option value="Management">Management</option>
                                            <option value="Sales">Sales</option>
                                        </optgroup>
                                    <% } else if(user.specialized === "Operating Systems") { %>
                                        <optgroup label="Operating Systems">
                                            <option value="Linux">Linux</option>
                                            <option value="Windows Server">Windows Server</option>
                                            <option value="Linux Administration">Linux Administration
                                            </option>
                                            <option value="Shell Scripting">Shell Scripting</option>
                                            <option value="Active Directory">Active Directory</option>
                                        </optgroup>
                                    <% } %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="editor">Course Content</label>
                                <div id="toolbar-container">
                                    <span class="ql-formats">
                                        <select class="ql-size">
                                            <option value="10px">Small</option>
                                            <option selected>Normal</option>
                                            <option value="18px">Large</option>
                                            <option value="32px">Huge</option>
                                        </select>
                                    </span>
                                    <span class="ql-formats">
                                        <select class="ql-color">
                                            <option selected></option>
                                            <option value="blue"></option>
                                        </select>
                                    </span>
                                    <span class="ql-formats">
                                        <button class="ql-bold"></button>
                                        <button class="ql-italic"></button>
                                        <button class="ql-underline"></button>
                                    </span>
                                    <span class="ql-formats">
                                        <button class="ql-list" value="ordered"></button>
                                        <button class="ql-list" value="bullet"></button>
                                    </span>
                                    <span class="ql-formats">
                                        <button class="ql-direction" value="rtl" type="button"></button>
                                        <select class="ql-align">
                                            <option selected="selected"></option>
                                            <option value="center"></option>
                                            <option value="right"></option>
                                            <option value="justify"></option>
                                        </select>
                                    </span>
                                    <span class="ql-formats">
                                        <button class="ql-script" value="sub" type="button"></button>
                                        <button class="ql-script" value="super" type="button"></button>
                                    </span>
                                    <span class="ql-formats">
                                        <button class="ql-header" value="1" type="button"></button>
                                        <button class="ql-header" value="2" type="button"></button>
                                        <button class="ql-blockquote" type="button"></button>
                                    </span>
                                    <span class="ql-formats">
                                        <button class="ql-link" type="button"></button>
                                        <button class="ql-video" type="button"></button>
                                        <button class="ql-formula" type="button"></button>
                                    </span>
                                </div>
                                <div id="editor"></div>
                            </div>
                            <div class="form-group">
                                <label for="courseprice">Course Price</label>
                                <input required type="number" name="courseprice" id="courseprice" class="form-control" placeholder="Enter Course Price"/>
                            </div>
                            <div class="form-group">
                                <label for="limitedUsers">Number of limited users</label>
                                <input required type="number" name="limitedUsers" id="limitedUsers" class="form-control" placeholder="Enter number of limited users"/>
                            </div>
                            <div class="form-group">
                                <label for="coursestart">Course Start</label>
                                <input required type="text" name="coursestart" class="coursestart" class="form-control" placeholder="Enter Course Start"/>
                            </div>
                            <div class="form-group">
                                <label for="courseend">Course End</label>
                                <input required type="text" name="courseend" class="courseend"
                                class="form-control" placeholder="Enter Course End">
                            </div>

                            <div class="form-group">
                                <label for="centerlocation">Center Location</label>
                                <select id="centerlocation" name="centerlocation" class="custom-select">
                                    <option value="Alexandria">Alexandria
                                    </option>
                                    <option value="Aswan">Aswan
                                    </option>
                                    <option value="Asyut">Asyut
                                    </option>
                                    <option value="Beheira">
                                        Beheira</option>
                                    <option value="Beni Suef">Beni Suef</option>
                                    <option value="Cairo">Cairo
                                    </option>
                                    <option value="Dakahlia">Dakahlia</option>
                                    <option value="Damietta">Damietta</option>
                                    <option value="Faiyum">
                                        Faiyum</option>
                                    <option value="Gharbia">
                                        Gharbia</option>
                                    <option value="Giza">Giza
                                    </option>
                                    <option value="Ismailia" selected="">Ismailia</option>
                                    <option value="Kafr El Sheikh">Kafr El Sheikh
                                    </option>
                                    <option value="Luxor">Luxor
                                    </option>
                                    <option value="Matruh">
                                        Matruh</option>
                                    <option value="Minya">Minya
                                    </option>
                                    <option value="Monufia">
                                        Monufia</option>
                                    <option value="New Valley">New Valley
                                    </option>
                                    <option value="North Sinai">North Sinai
                                    </option>
                                    <option value="Port Said">Port Said</option>
                                    <option value="Qalyubia">Qalyubia</option>
                                    <option value="Qena">Qena
                                    </option>
                                    <option value="Red Sea">
                                        Red Sea</option>
                                    <option value="Sharqia">
                                        Sharqia</option>
                                    <option value="Sohag">Sohag
                                    </option>
                                    <option value="South Sinai">South Sinai
                                    </option>
                                    <option value="Suez">Suez
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="centerplace">Center Place</label>
                                <input required type="text" name="centerplace" id="centerplace"
                                    class="form-control" placeholder="Enter Center Place">
                            </div>
                           
                            <div class="form-group">
                                <button class="btn btn-success" id="publishCourse">Submit</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>